* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Serif Pro', serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title span {
    color: #ADFF2F;
}

.brand h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: #ADFF2F;
    text-shadow: 4px 4px 8px black;
    letter-spacing: .8rem;
}

.brand h1 span {
    color: #ffdb58;
}

.logoid {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ADFF2F;
    text-shadow: 4px 4px 8px black;
}

.logoid span {
    color: #ffdb58;
}

.section-title {
    font-size: 30px;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 4px 4px 8px black;
}

.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

/* header */


#header {
    position: relative;
    z-index: 740;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    transition: .3s ease backgroung-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #ADFF2F;
    text-transform: uppercase;
    padding: 30px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    letter-spacing: 25px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: #006400;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #006400;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #006400;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #006400;
    z-index: -1;
}

#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #006400;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

@keyframes hamburger_puls {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.6);
    }
}

/* media query for Desktop */
@media only screen and (min-width: 1200px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 18px;
        font-weight: bold;
        text-shadow: 4px 4px 8px black;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #header #mainpage h1 {
        position: absolute;
    }
}
/* End Of navbar*/

/* Slider section*/
#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}
.content {
    color: antiquewhite;
}

.principal  {
    height: 654px;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0px;
}

.principal h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 270px;
    color: blueviolet;
    letter-spacing: 3px;
}

.principal p {
    font-size: 15px;
    font-weight: 500;
}

.principal span {
    color: gold;
}

.principal a {
    padding: 10px 40px;
    margin-left: 10px;
}

.principal a.btn-half {
    background-color: blueviolet;
    color: white;
    transition: 0.5s ease;
}

.principal a.btn-half:hover {
    opacity: 0.7;
}

.principal a.btn-full {
    background-color: gold;
    color: white;
    transition: 0.5s ease;
}

.principal a.btn-full:hover {
    opacity: 0.7;
}

/* media query for Desktop */
@media only screen and (min-width: 1200px) {
    #slider {
        overflow: hidden;
    }
    
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }
    
    #slider figure img {
        width: 20%;
        float: left;
    }
}

@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
       left: -300%;
    }
    100%{
        left: -400%;
    }
}
